<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyt.list">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wyt.list.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wyt.list.activity.SocketActivity" />
        <activity
            android:name="com.wyt.list.activity.TransparentActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.wyt.list.activity.UnFileActivity" />
        <activity android:name="com.wyt.list.activity.TimerActivity" />
        <activity android:name="com.wyt.list.activity.MultiMediaActivity" />
        <activity android:name="com.wyt.list.activity.DrawerLayoutActivity" />
        <activity android:name="com.wyt.list.activity.CustomProgressBarActivity" />
        <activity android:name=".activity.MPAndroidLineChartActivity" />
        <activity android:name=".activity.EventBusActivity" />
        <activity android:name=".activity.EventBusSecondActivity" />
        <activity android:name=".activity.RealmActivity"/>
        <activity android:name=".activity.ScreenShotActivity"/>

    </application>

</manifest>